200 RCDATA "D:/ocrres/ocrmodels/PP_OCRv6_tiny_det.bin"
201 RCDATA "D:/ocrres/ocrmodels/PP_OCRv6_tiny_det.param"
202 RCDATA "D:/ocrres/ocrmodels/PP_OCRv6_tiny_rec.bin"
203 RCDATA "D:/ocrres/ocrmodels/PP_OCRv6_tiny_rec.param"
204 RCDATA "D:/ocrres/ocrmodels/PP_LCNet_x0_25_textline_ori.bin"
205 RCDATA "D:/ocrres/ocrmodels/PP_LCNet_x0_25_textline_ori.param"
206 RCDATA "D:/ocrres/ocrmodels/ppocr_keys_v6.txt"
207 RCDATA "D:/ocrres/ocr_config.json"
1 ICON "D:/ocrres/ppocr_icon.ico"
100 RCDATA "D:/ocrres/mtranserver.exe"
101 RCDATA "D:/ocrres/mtran_models/en_zh-Hans/lex.50.50.enzh.s2t.bin"
102 RCDATA "D:/ocrres/mtran_models/en_zh-Hans/model.enzh.intgemm.alphas.bin"
103 RCDATA "D:/ocrres/mtran_models/en_zh-Hans/srcvocab.enzh.spm"
104 RCDATA "D:/ocrres/mtran_models/en_zh-Hans/trgvocab.enzh.spm"
105 RCDATA "D:/ocrres/mtran_models/zh-Hans_en/lex.50.50.zhen.s2t.bin"
106 RCDATA "D:/ocrres/mtran_models/zh-Hans_en/model.zhen.intgemm.alphas.bin"
107 RCDATA "D:/ocrres/mtran_models/zh-Hans_en/vocab.zhen.spm"
108 RCDATA "D:/ocrres/mtran_config_records.json"
